/*Template*/

/*Menu*/
.btn-default a{
    background-color: #b300b3!important;
    color: white!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    text-align: center;
}
.btn-default a:hover{
    background-color: #fbfbfb!important;
    color: #b300b3!important;
    border: 1px solid #b300b3!important;
    height: 50px!important;
}
.navbar-brand{
    color: #4d004d!important;
    padding-right: 50px!important;
    font-size: 20px!important;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 500px!important;
}
/*Index Template*/
.index-container{
    margin-top: 60px!important;
    padding: 5%;
}
