/*Template*/

/*Menu*/
.btn-default a{
    background-color: #b300b3!important;
    color: white!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    text-align: center;
    border: 1px solid white;
}
.btn-default a:hover{
    background-color: #fbfbfb!important;
    color: #b300b3!important;
    border: 1px solid #b300b3!important;
    height: 52px!important;
}
.navbar-brand{
    color: #ffe6ff!important;
    padding-right: 50px!important;
    font-size: 20px!important;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 500px!important;
}
.navbar-default .navbar-nav>li>a{
    color: #ffe6ff!important;
    font-size: 15px;
}
.dropdown-menu{
    border-radius: 4px;
}
.dropdown-menu>li>a{
    color: white!important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #ffe6ff!important;
}
/*Index Template*/
.index-container{
    margin-top: 60px!important;
    padding: 5%;
}
